/* config gerais */
html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
/**/

/* #region formatação cabeçalho */
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(35, 35, 35);
}

.top-menu .logo{
    display: flex;
    align-items: center;
}

.top-menu .logo label{
    
    color: white;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.sub-menu nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

    margin: 0px;
    padding: 3px;

    background-color: brown;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    color: white;

}

.logo img{
    width: 50px;
}

.input-area{
    display: flex;
    align-items: center;

    padding: 0px 10px;
}

.input-area ul{
    display: flex;
    list-style: none;

    color: white;
    padding: 0px 5px;
}

.input-area ul li{
    padding-right: 10px;
}
/* #endregion */

/* #region corpo */
main{
    margin: 20px 50px 0px;
}

.body-head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: 2px dashed black;
}
.body-head p{
    display: inline;
}

/* #endregion */